services:
  keuanganku-fe:
    build:
      context: .
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    env_file:
      - .env.local
    container_name: keuanganku-fe
    restart: always
    ports:
      - "8080:3000" # Mapping ke port 8080 agar tidak bentrok dengan renderer (3000)
