services:
  keuanganku-fe:
    build:
      context: .
      args:
        # Suntikkan langsung di sini agar permanen masuk ke build Next.js
        - NEXT_PUBLIC_API_URL=http://202.10.45.157:3001
    container_name: keuanganku-fe
    restart: always
    ports:
      - "8080:3000"
