@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

/* Custom Utilities */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}